<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ssm : 게시판</title>
</head>
<body>
<h1>게시글 목록</h1>
<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>제목</th>
            <th>작성자</th>
            <th>부서</th>
            <th>등록일</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="list : ${bulletinList}">
            <td th:text="${list.bulletinNo}"></td>
            <td th:text="${list.bulletinTitle}"></td>
            <td th:text="${list.bulletinWriterName}"></td>
            <td th:text="${list.bulletinWriterDept}"></td>
            <td th:text="${#temporals.format(list.bulletinRegist, 'yyyy-MM-dd')}"></td>
            <td th:text="${list.bulletinHits}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>