<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SSM : 로그인</title>
</head>
<body>
<th:block>
    <form action="login" method="post" id="loginForm">
        <div>
            <input type="text" name="userId" id="userId" placeholder="아이디" autocomplete="off"/>
        </div>
        <div>
            <input type="password" name="userPassword" id="userPassword" placeholder="비밀번호" />
        </div>
        <button id="goLogin" class="submit_btn" onclick="clickLogin()">로그인</button>
    </form>
</th:block>
</body>
</html>